@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contacts | Товари медичного призначення";
}

<div class="jumbotron productJumb">
    <h2>Контакти</h2>
    <br />
    <div class="container-fluid newContainerContacts">
        <div class="row">
            <div class="col-7">
                <table class="tableContacts">
                    <tr><th>Адреса:</th><td>м.Київ, ст.м.Лук'янівська, вул.Татарська, 18В, 02000, 2 поверх, офіс №214</td></tr>
                    <tr><th>Телефон:</th><td>+38 (095)386-05-09</td></tr>
                    <tr><th>Графік роботи:</th><td>ПН-ПТ: 9:00 - 19:00, CБ: 10:00 - 17:00, ВС: вихідний</td></tr>
                </table>
                <br />
                <table>
                    <tr><th>У відділенні наявні:</th></tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Офіс</li>
                                <li>Основний склад товарів</li>
                                <li>Пункт купівлі</li>
                                <li>Кімната для тренінгів</li>
                                <li>Спеціаліст з надання першої домедичної допомоги</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1269.854912056282!2d30.48535965816697!3d50.46512799486938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce77493485af%3A0xb8f26da8de1a1c8e!2zMThCLCDRg9C7LiDQotCw0YLQsNGA0YHQutCw0Y8sIDE40JEsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1544377656492" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container-fluid newContainerContracts">
        <div class="row">
            <div class="col-7">
                <table>
                    <tr><th>Адреса:</th><td>м.Київ, ст.м.Контрактова, вул.Борисоглебська, 04070, 1 поверх</td></tr>
                    <tr><th>Телефон:</th><td>+38 (063)294-71-09</td></tr>
                    <tr><th>Графік роботи:</th><td>ПН-ПТ: 9:00 - 19:00, CБ: 10:00 - 17:00, ВС: вихідний</td></tr>
                </table>
                <br />
                <table>
                    <tr><th>У відділенні наявні:</th></tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Пункт купівлі</li>
                                <li>Кімната для тренінгів</li>
                                <li>Спеціаліст з надання першої домедичної допомоги</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.833162879499!2d30.51960101535257!3d50.46283137947716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce40de9cf627%3A0xb926fe5bdc808c0e!2z0YPQuy4g0JHQvtGA0LjRgdC-0LPQu9C10LHRgdC60LDRjywgOC8xMywg0JrQuNC10LIsIDA0MDcw!5e0!3m2!1sru!2sua!4v1544377094882" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


