@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Delivery | Товари медичного призначення";
}

<div class="jumbotron deliveryJumb">
    <h2>Доставка</h2>
    <br />
    <h3>Способи доставки</h3>
    <br />
    <div class="inKiyv">
        <h5>Кур'єром по Києву:</h5>
        <div class="container">
            <div class="row">
                <div class="col-2 deliveryCol-2"><img src="~/Images/Kyiv.png" id="imgDelivery1" /></div>
                <div class="col-9">
                    <p>Доставка по Києву здійснюється при замовленні на суму більше 1000 грн і є безкоштовною</p>
                    <p>При сумі замовлення до 1000 грн вартість доставки - 50 грн</p>
                    <p>Оплата: Готівкою кур'єру при отриманні замовлення</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="inUkraine">
        <h5>Доставка по всій Україні:</h5>
        <div class="container">
            <div class="row">
                <div class="col-2 deliveryCol-2"><img src="~/Images/Ukraine.png" id="imgDelivery2" /></div>
                <div class="col-9">
                    <p><b>Просимо звернути вашу увагу:</b></p>
                    <p>- Отправка товару лише після 100% предоплати</p>
                    <p>- Послуги накладеного платежу на даний момент наш магазин не надає</p>
                    <p>- Перевезнику ви оплачуєте тільки вартість доставки товару</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="NovaPoshta">
        <h5>Нова Пошта:</h5>
        <div class="container">
            <div class="row">
                <div class="col-2 deliveryCol-2"><img src="~/Images/NovaPoshta.png" id="imgDelivery3" /></div>
                <div class="col-9 deliveryCol-9_34">
                    <p><b>Доставка у відділення "Нова Пошта" або кур'єром до дверей:</b></p>
                    <p>- За допомогою доставки "Нова Пошта" ви можете отримати товар навіть в найвіддаленіших куточках нашої країни</p>
                    <p>- В середньому доставка займає 1-3 дні, під час замовлення наші менеджери узгодять з вами дату відправлення товару</p>
                    <p>- Послуги доставки товарів "Нова Пошта" оплачується покупцем при отриманні, згідно тарифам перевезника</p>
                    <p>- Після передачі перевізнику посилки, наш магазин не несе відповідальності за неї. При відправленні вказується страхова вартість посилки згідно вашому замовленню (окремо, по запиту, менеджер вкаже необхідну вам суму)</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <h3>Cпособи оплати</h3>
    <br />
    <div class="cash">
        <div class="container">
            <div class="row">
                <div class="col-2 deliveryCol-2"><img src="~/Images/Pay.jpg" id="imgDelivery4" /></div>
                <div class="col-9 deliveryCol-9_34">
                    <h5>Готівкою:</h5>
                    <p>Оплата готівкою можлива тільки при покупці в роздрібній мережі магазину, а також при доставці по Києву. Оплата виконується винятково в національній валюті по курсу вказаному на нашому сайті</p>
                    <br />
                    <h5>Через банк:</h5>
                    <p>Оплата через банк здійснюється наступним чином: після оформлення замовлення, менеджер магазину факсом або електронною почтою вишле вам листа з банковськими реквізитами, по яким ви зможете оплатити замовлення в касі відділення будь-якого банку</p>
                    <p>Увага: при оплаті через банк, товар дорожчає на 1%</p>
                </div>
            </div>
        </div>
    </div>
</div>
