@model IEnumerable<Medical_shop.Models.Entities.Comment>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Main | Товари медичного призначення";
}

<div class="jumbotron newJumb">
    <h2>Головна</h2>
    <p class="lead">Даний магазин є зібранням всіх засобів для надання першої медичної або домедичної допомоги, які можуть бути вам необхідні.
                    У нашому магазині ми зібрали найкраще з того, що зараз використовують у всьому світі професіонали своєї справи. Тут присутні 
                    як товари для персональних, автомобільних, військових, туристичних та домашніх аптечок, так і прилади для реабілітації пацієнта
                    або ж проведення парамедичних тренувань.</p>
    <br />
    <br />
    <p class="lead">Наш магазин - це не лише платформа для покупки товарів, але й можливість отримати консультацію по кожному з них. На ваше прохання 
                    ми з радістю зберемо вам аптечку саме таку, яка вам потрібна.</p>
    <br />
    <br />
    <p class="lead">Пам'ятайте, що ваше власне життя або життя вашої близької людини залежить не тільки від працівників швидкої допомоги, але й від
                    вашого власного досвіду. Завчасне надання першої медичної допомоги може подарувати безцінні години до приїзду карети швидкої допомоги.</p>
    <br />
    <br />
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form method="post" action="@Url.Action("AddComment", "HomeController")">
                <input type="text" name="Text" />
                <input type="hidden" name="Page" value="Main" />
                <button type="submit">Додати</button>
            </form>
        }
    }
    <br />
    <br />
    <p class="MainCommentsH">Коментарі</p>
    <br />
    <div>
        @foreach (var comment in Model)
        {
            if (comment.Page == "Main")
            {
                <div id="textComments">
                    "@comment.Text"
                </div>
                    <hr class="lines" />
            }
        }
    </div>
</div>
