@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Products | Товари медичного призначення";
}

@Styles.Render("~/Content/Products.css")
<div class="jumbotron productJumb">
    <h3 id="productH3">Артеріальні джгути</h3>
    <div class="container-fluid">
        <div class="row newRowTour">
            <div class="col-3 new">
                <a>
                    <div>
                        <img src="~/Images/holder fot the tourniquet.jpg" class="imgAll" />
                        <br />
                        <p class="TourniquetP">Тримач для турнікета</p>
                        <p>219 грн.</p>
                    </div>
                </a>
                <button type="button" class="btn btn-success">Додати в кошик</button>
            </div>
        </div>
    </div>


</div>

