@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "F.A.Q. | Товари медичного призначення";
}

<!DOCTYPE html>

<div class="jumbotron newJumb">
    <h2>F.A.Q.</h2>
    <br />
    <p class="lead">
        Відповіді на запитання, що часто виникають у пересічних громадян:
    </p>
    <br />
    <br />
    <p class="lead">
        “А якщо я своєю допомогу нашкоджу потерпілому, чи вб’ю його? “
        <br />
        <br />
        “А що буде, якщо я пройду повз?”
        <br />
        <br />
        “Що я зобо’язаний  робити, як громадянин України?”
    </p>
    <br />
    <br />
    <br />
    <p class="lead">
        <b>Закон України «Про екстрену медичну допомогу», стаття 3:</b>
    </p>
    <br />
    <p class="lead">
        <ol start="3">
            <li>У разі виявлення людини у невідкладному стані, яка не може особисто звернутися за наданням екстреної медичної допомоги,
                та за відсутності медичних працівників на місці події громадянин України або будь-яка інша особа, які виявили таку людину,
                зобов’язані:
            </li>
        </ol>
    </p>
    <br />
    <p class="lead">
        негайно здійснити виклик екстреної медичної допомоги або повідомити про виявлену людину у невідкладному стані та про місце події 
        працівників найближчого закладу охорони здоров’я чи будь-яку особу, яка зобов’язана надавати домедичну допомогу та знаходиться 
        поблизу місця події;
    </p>
    <br />
    <p class="lead">
        за можливості надати виявленій людині у невідкладному стані необхідну допомогу, у тому числі шляхом перевезення такої людини до 
        найближчого до місця події відділення екстреної (невідкладної) медичної допомоги чи іншого закладу охорони здоров’я, у якому може 
        бути забезпечено надання необхідної медичної допомоги.
    </p>
    <br />
    <br />
    <p class="lead">
        Тобто українським законодавством встановлені рамки, в межах яких громадянин зобов’язаний діяти за протоколами  надання першої допомоги.
    </p>
    <br />
    <br />
    <p class="lead">
        Відповідальність за ненадання допомоги –  136 стаття Кримінального кодексу України
    </p>
    <br />
    <br />
    <p class="lead">
        <b>Стаття 136. Ненадання допомоги особі, яка перебуває в небезпечному для життя стані:</b>
    </p>
    <br />
    <p class="lead">
        <ol>
            <li>
                Ненадання допомоги особі, яка перебуває в небезпечному для життя стані, при можливості надати таку допомогу або неповідомлення про такий
                стан особи належним установам чи особам, якщо це спричинило тяжкі тілесні ушкодження, – караються штрафом від двохсот до п’ятисот неоподатковуваних
                мінімумів доходів громадян або громадськими роботами на строк від ста п’ятдесяти до двохсот сорока годин, або арештом на строк до шести місяців.
                <br />
            </li>
            <li>
                Ненадання допомоги малолітньому, який завідомо перебуває в небезпечному для життя стані, при можливості надати таку допомогу або неповідомлення про
                такий стан дитини належним установам чи особам – караються штрафом від п’ятисот до тисячі неоподатковуваних мінімумів доходів громадян або арештом на
                строк до шести місяців, або обмеженням волі на строк до трьох років.
                <br />
            </li>
            <li>
                Діяння, передбачені частинами першою або другою цієї статті, якщо вони спричинили смерть потерпілого, – караються обмеженням волі на строк від трьох
                до п’яти років або позбавленням волі на строк від двох до п’яти років., – караються штрафом від двохсот до п’ятисот неоподатковуваних мінімумів доходів
                громадян або громадськими роботами на строк від ста п’ятдесяти до двохсот сорока годин, або арештом на строк до шести місяців.
                <br />
            </li>
            <li>
                Ненадання допомоги малолітньому, який завідомо перебуває в небезпечному для життя стані, при можливості надати таку допомогу або неповідомлення
                про такий стан дитини належним установам чи особам – караються штрафом від п’ятисот до тисячі неоподатковуваних мінімумів доходів громадян або арештом
                на строк до шести місяців, або обмеженням волі на строк до трьох років.
                <br />
            </li>
            <li>
                Діяння, передбачені частинами першою або другою цієї статті, якщо вони спричинили смерть потерпілого, – караються обмеженням волі на строк від трьох
                до п’яти років або позбавленням волі на строк від двох до п’яти років.
            </li>
        </ol>
    </p>
    <br />
    <p class="lead">
        Отже надаючи допомогу коректно – ми залишаємося в рамках закону!
    </p>
    <br />
    <br />
    <p class="lead">
        Закон доброго самаритянина – в США звід законів, які регулюють право на надання першої допомоги і правове становище особи, яка таку допомогу надає. 
        Головний пункт закону – потерпілий не може пред’явити позов за неправильно надану першу допомогу, якщо вона надавалася сумлінно, тобто рятувальник 
        діяв в межах своїх знань і досвіду, прагнучи забезпечити покращення становища потерпілого. Не будь цього пункту, сторонні люди остерігалися б 
        допомагати постраждалим, боячись подальшого позову.
    </p>
    <br />
    <br />
    <p class="lead">
        Закони різняться в різних штатах, але загальні принципи такі:
    </p>
    <br />
    <p class="lead">
        1. Якщо потерпілий не був пацієнтом рятувальника, його дитиною чи іншим опікуваним ним особою і постраждав не з вини рятувальника, рятувальник не зобов’язаний надавати першу допомогу.
    </p>
    <br />
    <p class="lead">
        2. Перша допомога надається безкоштовно. Зокрема, лікарі, які надають першу допомогу в рамках своїх професійних обов’язків, не захищені цим законом.
    </p>
    <br />
    <p class="lead">
        3.Якщо рятувальник діяв розумно (для свого рівня підготовки), він не відповідає за ненавмисне завданої шкоди, навіть якщо неправильні дії рятувальника привели до смерті або інвалідності потерпілого.
    </p>
    <br />
    <br />
    <p class="lead">
        Почавши надання допомоги, рятувальник не має права піти, крім таких випадків:
    </p>
    <br />
    <p class="lead">
        1. Піти, щоб викликати медичну допомогу.
    </p>
    <br />
    <p class="lead">
        2. Поступитися місцем іншому рятувальнику з тим же або більш високим рівнем підготовки.
    </p>
    <br />
    <p class="lead">
        3.Подальше надання допомоги небезпечно для самого рятувальника.
    </p>
    <br />
    <br />
    <p class="lead">
        Допомога надається тільки за згодою потерпілого. При цьому:
    </p>
    <br />
    <p class="lead">
        1. Якщо потерпілий без свідомості,  одурманений наркотиками або алкоголем – досить розумного припущення, що постраждалий погодився б на надання допомоги. Суди зазвичай стають на бік рятувальника.
    </p>
    <br />
    <p class="lead">
        2. Якщо потерпілий – неповнолітній (до 18 років), згоду повинні дати його батько або опікун.
    </p>
    <br />
    <p class="lead">
        3.Якщо батьків або опікунів немає – можна надавати допомогу незалежно від того, що говорить потерпілий.
    </p>
    <br />
    <p class="lead">
        4.Якщо батьки присутні, але без свідомості,  одурманені наркотиками або алкоголем – те ж саме.
    </p>
    <br />
    <p class="lead">
        5.При підозрі знущання над дітьми – згоди батьків на надання допомоги не потрібно.
    </p>
    <br />
    <br />
    <p class="lead">
        У деяких штатах закон захищає від судового переслідування тільки тих, хто пройшов сертифіковані курси надання першої допомоги, в інших штатах – всіх рятувальників, за умови що вони діють розумно.
    </p>
</div>
