@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tounriquets | Товари медичного призначення";
}

@Styles.Render("~/Content/Products.css")
<div class="jumbotron productJumb">
    <h3 id="productH3">Артеріальні джгути</h3>
    <div class="container-fluid">
        <div class="row newRowTour">
            <div class="col-3 new">
                <a>
                    <div>
                        <img src="~/Images/holder fot the tourniquet.jpg" class="imgAll" />
                        <br />
                        <p class="TourniquetP">Тримач для турнікета</p>
                        <p>219 грн.</p>
                    </div>
                </a>
                <button type="button" class="btn btn-success">Додати в кошик</button>
            </div>
            <div class="col-3 new">
                <a>
                    <div>
                        <img src="~/Images/tourniquet SICH.jpg" class="imgAll" />
                        <br />
                        <p class="TourniquetP">Турнікет СІЧ</p>
                        <p>299 грн.</p>
                    </div>
                </a>
                <button type="button" class="btn btn-success">Додати в кошик</button>
            </div>
            <div class="col-3 new">
                <a>
                    <div>
                        <img src="~/Images/tourniquet sof.jpg" class="imgAll" />
                        <br />
                        <p class="TourniquetP">Турнікет SOF</p>
                        <p>819 грн.</p>
                    </div>
                </a>
                <button type="button" class="btn btn-success">Додати в кошик</button>
            </div>
            <div class="col-3 new">
                <a>
                    <div>
                        <img src="~/Images/tourniquet sof tactical.jpg" class="imgAll" />
                        <br />
                        <p class="TourniquetP">Турнікет SOF Tactical</p>
                        <p>699 грн.</p>
                    </div>
                </a>
                <button type="button" class="btn btn-success">Додати в кошик</button>
            </div>
        </div>

        <div class="row newRowTour">
            <div class="col-3 new">
                <a>
                    <div>
                        <img src="~/Images/tourniquet CAT 6.jpg" class="imgAll" />
                        <br />
                        <p class="TourniquetP">Джгут CAT 6 покоління</p>
                        <p>579 грн.</p>
                    </div>
                </a>
                <button type="button" class="btn btn-success">Додати в кошик</button>
            </div>
            <div class="col-3 new">
                <a>
                    <div>
                        <img src="~/Images/tourniquet CAT 7.jpg" class="imgAll" />
                        <br />
                        <p class="TourniquetP">Джгут CAT 7 покоління</p>
                        <p>849 грн.</p>
                    </div>
                </a>
                <button type="button" class="btn btn-success">Додати в кошик</button>
            </div>
            <div class="col-3 new">
                <a>
                    <div>
                        <img src="~/Images/tourniquet CAT 7 training.jpg" class="imgAll" />
                        <br />
                        <p class="TourniquetP">Джгут CAT 7 покоління тренувальний</p>
                        <p>849 грн.</p>
                    </div>
                </a>
                <button type="button" class="btn btn-success">Додати в кошик</button>
            </div>
            <div class="col-3 new">
                <a>
                    <div>
                        <img src="~/Images/tourniquet swat.jpg" class="imgAll" />
                        <br />
                        <p class="TourniquetP">Джгут SWAT</p>
                        <p>399 грн.</p>
                    </div>
                </a>
                <button type="button" class="btn btn-success">Додати в кошик</button>
            </div>
        </div>

        <div class="row newRowTour endRow">
            <div class="col-3 new">
                <a>
                    <div>
                        <img src="~/Images/tourniquet MAT.jpg" class="imgAll" />
                        <br />
                        <p class="TourniquetP">Джгут MAT</p>
                        <p>999 грн.</p>
                    </div>
                </a>
                <button type="button" class="btn btn-success">Додати в кошик</button>
            </div>
            <div class="col-3 new">
                <a>
                    <div>
                        <img src="~/Images/SAM-junctional-tourniquet.png" class="imgAll" />
                        <br />
                        <p class="TourniquetP">Турнікет SAM Junctional</p>
                        <p>2000 грн.</p>
                    </div>
                </a>
                <button type="button" class="btn btn-success">Додати в кошик</button>
            </div>
            <div class="col-3 new">
                <a>
                    <div></div>
                </a>
            </div>
            <div class="col-3 new">
                <a>
                    <div></div>
                </a>
            </div>
        </div>
    </div>
</div>

